/* General */
body { color: {{ var.body_fg }}; }
pre { border: 0; margin: 0; padding: 0; }
.code_text { font-size: {{ var.font_size }}pt; font-family: {{ var.font_face }}, "Courier", Monospace; }
.code_page { background-color: {{ var.page_bg }}; }
.simple_code_page { background-color: white; color: black }
td.code_line div { width: 100%; }
span { display: inline-block; border: 0; margin: 0; }
span.bold { font-weight: bold; }
span.italic { font-style: italic; }
span.normal { font-style: normal; }
span.underline { text-decoration:underline; }

/* Wrapping */
div.wrap {
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP printers */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word;      /* IE */
}
div.wrap span { display: inline; }
